section#banner{
  background-image: url('../assets/hero-bg.png');
  background-size: cover;      
  background-repeat: no-repeat;
    width: 100%;
    max-width: 1600px;
    height: auto;

}
section#banner-content{
    padding-top: 70px;
    padding-bottom: 134px;
    padding-left: 120px;
    padding-right: 120px;
    width: 100%;
    max-width: 1360px;
    height: auto;
    text-align: center;
    align-items: center;
    
   
}
.early-access button{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    font-family: 'Inter';
    font-size: 16px;
    color: #30b868;
    background-color: #FFFFFF;
    width: 229px;
    height: 35px;
    border-radius: 1000px;
    align-items: center;
    padding : 8px 12px;
    margin: auto;
    font-style: bold;
   
}
.fa-solid fa-bullseye{
    font-weight: 700px;
}
section#banner h1{
    margin-top: 16px;
    width: 770px;
    height: 168px;
    align-items: center;
    margin-left: auto; 
    margin-right: auto; 
}

section#banner .first{
    font-family: 'Inter';
    color: #FFFFFF;
    font-size: 72px;
    line-height: 84px;
 
}
section#banner .second{
    font-family: 'Inter';
    font-size: 72px;
    line-height: 84px;
    
    
}
section#banner p{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 16px;
    gap: auto;
    margin-left: auto; 
    margin-right: auto; 
    text-wrap: balance; 
   
}
section#banner .two-buttons{
    margin-top: 16px;
    display: flex;
    justify-content: center;
    gap: 16px;

}
section#banner .two-buttons #first{
    color: #FFFFFF;
    font-size: 16px;
    font-style: bold;
    border-radius: 4px;
    background-color: #30b868;
    border: none;
    width: 251px;
    height: 52px;
    align-items: center;

}
section#banner .two-buttons #first#first-button{
    width:189px;
    height: 19px;
    background-color: #30b868;

}

section#banner .two-buttons #second{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    width: 198px;
    height: 52px;
     align-items: center;
     font-style: bold;
}
section#banner .two-buttons #second#second-button{
    width:136px;
    height: 19px;
    background-color: transparent;

}

