section#banner{
  background-image: url('../assets/hero-bg.png');
  background-size: cover;      
  background-repeat: no-repeat;
    width: 100%;
    max-width: 1600px;
    height: auto;

}
section#banner-content{
    padding-top: 70px;
    padding-bottom: 134px;
    padding-left: 120px;
    padding-right: 120px;
    width: 100%;
    max-width: 1360px;
    height: auto;
    text-align: center;
    align-items: center;
    
   
}
section#banner h1{
    margin-top: 16px;
    width: 770px;
    height: 168px;
    align-items: center;
    margin-left: auto; 
    margin-right: auto; 
}

section#banner .first{
    font-family: 'Inter';
    color: #FFFFFF;
    font-size: 72px;
    line-height: 84px;
 
}
section#banner .second{
    font-family: 'Inter';
    font-size: 72px;
    line-height: 84px;
    
    
}
section#banner p{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 16px;
    gap: auto;
    margin-left: auto; 
    margin-right: auto; 
    text-wrap: balance; 
   
}
section#banner .button_banner{
    margin-top: 16px;

}
section#banner .button_banner #start-button{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #30b868;
    width: 251px;
    height: 44px;
    line-height: 19px;
    text-align: left;
    gap: 10px;
    padding: 12px 16px 16px 12px;
    border-radius: 4px;
     align-items: center;

}
section#banner .button_banner #see-button{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    width: 198px;
    height: 52px;
     align-items: center;
}
section#banner .button_banner #Vault{
    display: flex;
    gap: 16px;
    justify-content: center;
}
