section#banner{
  background-image: url('../assets/hero-bg.png');
  background-size: cover;      
  background-repeat: no-repeat;
    width: 100%;
    height: 583px;

}
section#banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 379px;
    text-align: center;
    align-items: center;
    padding-top: 70px;
    
   
}
.early-access button{
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    font-size: 16px;
    color: #30b868;
    background-color: #FFFFFF;
    width: 229px;
    height: 35px;
    border-radius: 1000px;
    align-items: center;
    padding : 8px 12px;
    margin: auto;
    font-weight: semibold; 
    border: none; 
}
.early-access button:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.fa-bullseye {
    margin-right: 2px;
}
section#banner h1{
    margin-top: 16px;
    width: 100%;
    height: 168px;
    align-items: center;
    margin-left: auto; 
    margin-right: auto; 
}

section#banner .first{
    font-family: 'Inter';
    color: #FFFFFF;
    font-size: 72px;
    line-height: 84px;
 
}
section#banner .second{
    font-family: 'Inter';
    font-size: 72px;
    line-height: 84px;
    
    
}
section#banner p{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 16px;
    gap: auto;
    margin-left: auto; 
    margin-right: auto; 
    text-wrap: balance; 
   
}
section#banner .two-buttons{
    margin-top: 16px;
    display: flex;
    justify-content: center;
    gap: 16px;

}
.icon-button {
  font-family: 'Inter';
  display: flex;
  align-items: center; 
  justify-content: center; 

  border: 1px solid #30b868;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold; 
    border-radius: 4px;
    background-color: #30b868;
    width: 253px;
    height: 52px;
    gap: 10px; 
    cursor: pointer;
}
.icon-button:hover {
    background-color: #259856;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.icon-button2:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
.icon-button2 {
    font-family: 'Inter';
  display: flex;
  align-items: center; 
  justify-content: center; 
  padding: 10px 15px; 
  border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold; 
    border-radius: 4px;
    background: transparent;
    width: 251px;
    height: 52px;
    gap: 10px; 
}

.icon-button2:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    
}

.button-icon {
  width: 20px; 
  height: 20px; 
  margin-right: 4px; 
}
.button-icon2{
  width: 20px; 
  height: 20px; 
  margin-right: 2px; 
}

