section#banner{
  background-image: url('../assets/hero-bg.png');
  background-size: cover;      
  background-repeat: no-repeat;
    width: 100%;
    max-width: 1600px;
    height: 448px;
}
section#banner-content{
    padding-top: 70px;
    padding-bottom: 134px;
    padding-left: 120px;
    padding-right: 120px;
    max-width: 1360px;
    height: 379px;
    text-align: center;
   
}
section#banner h1{
    margin-top: 16px;
}

section#banner .first{
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    font-size: 72px;
    line-height: 84px;
}
section#banner .second{
    font-family: 'Inter', sans-serif;
    font-size: 72px;
    line-height: 84px;
    
}

section#banner p{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 16px;
    gap: auto;
   
}
section#banner .button_banner{
    margin-top: 16px;
    
}
