.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    gap: 24px;
    padding: auto;
    margin: 44px 0px 120px 85px;
    width: 100%;
     max-width: 1360px;
     height: 300px;
}
.first-card img{
    background-color: #f95555;
    width: 32px;
    height: 32px;
    border: #f95555 10px solid;
    border-radius: 1000px;
    margin-top: 48px;
    margin-left: 128px;
    margin-right: 128px;
}
.second-card img{
    background-color: #f95555;
    width: 32px;
    height: 32px;
    border: #f95555 10px solid;
    border-radius: 1000px;
    margin-top: 48px;
    margin-left: 128px;
    margin-right: 128px;
}
.third-card img{
    background-color: #f95555;
    width: 32px;
    height: 32px;
    border: #f95555 10px solid;
    border-radius: 1000px;
    margin-top: 48px;
    margin-left: 128px;
    margin-right: 128px;
}
.fourth-card img{
    background-color: #f95555;
    width: 32px;
    height: 32px;
    border: #f95555 10px solid;
    border-radius: 1000px;
    margin-top: 48px;
    margin-left: 128px;
    margin-right: 128px;
}
.aa{
     font-family: 'Inter';
    font-size: 24px;
    font-weight: bold;
    line-height: auto;
    color : #001931;
    text-align: center;
    margin-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
}
.bb{
    font-family: 'Inter';
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    color : #627382;
    text-align: center;
    margin-top: 16px;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;

}
.first-card{
     border: #627382 0px solid; 
     width: 100%;
     max-width: 322px;
     height: 300px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
     
    
}
.second-card{
     border: #627382 0px solid;
     width: 100%;
     max-width: 322px;
     height: 300px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     

}
.third-card{
     border: #627382 0px solid;
     width: 100%;
     max-width: 322px;
     height: 300px;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.fourth-card{
     border: #627382 0px solid;
     width: 100%;
     max-width: 322px;
     height: 300px;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

