.footer {
    width: 100%;
    height: 348px;
    background-color: #001931;
    display: flex;
    justify-content: center;
    font-family: 'Inter';
}

.footer-div {
    width: 100%;
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}

#footer-image {
    width: 139px;
    height: 60px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-end;
}

#footer-link-name {
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
}

.footer-icons {
    display: flex;
    gap: 12px;
}

.fa-brands {
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
}
.copyright{
    display: flex;
    justify-content: center;
    margin: auto;
    padding:auto;
}
.copyright-text{
    color: #ffffff;
}