.image-text {
    display: flex;  
    justify-content: center;  
    align-items: center;  
    width: 100%;
    height: 840px;
    gap: 40px;
    margin: auto;
    padding: auto;

}
.inner-image-text{
    display: flex;
    justify-content: center;  
    align-items: center;
    margin: 0 auto;
    padding:0 auto;
    width: 100%;
    width:1360px;
    height: 600px;
}
.for-image{
    width: 600px;
    height: 600px;
    border-radius: 12px;
}
.for-text{
    font-family: 'Inter';
    width: 100%;
    height: 396px; 
    margin-left: 60px;
    margin-top: 102px;
    margin-bottom: 102px;

}
.head-solution{
    font-family: 'Inter';
    color: #30b868;  
    width: 100%;
    height: 20px;
    line-height: 20px;
    gap: 16px;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 16px;
}
.second-brain{
    font-family: 'Inter';
    color:#001931;
    line-height: auto;
    font-size: 48px;
    margin-bottom: 16px;

}
.personal-text{
    font-family: 'Inter';
    color:#627382;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
}
.check-check{
    font-family: 'Inter';
    display: flex;
    gap: 4px;
    width: 700px;
    padding-bottom: 10px;
}
.lo{
    color: #001931;
    font-size: 16px;
    margin: 0;
}
.checkmark {
    color: #30b868;
    font-size: 16px;
    margin-right: 8px;
}
    
