.image-text {
    display: flex;  
    justify-content: center;  
    align-items: center;  
    width: 100%;
    max-width: 1600px;
    height: 840px;
    gap: 40px;
}
.inner-image-text{
    display: flex;
    justify-content: center;  
    align-items: center;
    margin: 0 auto;
    padding:0 auto;
}
.for-image{
    width: 600px;
    height: 600px;
    border-radius: 12px;
}
.for-text{
    font-family: 'Inter';
    width: 100%;
    max-width: 700px;
    height: 396px; 
    margin-left: 60px;
    margin-top: 102px;
    margin-bottom: 102px;

}
.head-solution{
    font-family: 'Inter';
    color: #30b868;  
    width: 700px;
    height: 20px;
    line-height: 20px;
    gap: 16px;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 16px;
}
.second-brain{
    font-family: 'Inter';
    color:#001931;
    line-height: auto;
    font-size: 48px;
    margin-bottom: 16px;

}
.personal-text{
    font-family: 'Inter';
    color:#627382;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
}
.check-check{
    font-family: 'Inter';
    display: flex;
    gap: 6px;
    font-size: 16px;
}
.lo{
    color : #001931;
    padding-bottom: 2px;
}

