nav{
   
    display: flex;
    justify-content: space-around;
    gap: auto;
    width:100%;
    max-width: 1600px;
    background-color: #FFFFFF;
    height: auto;
   
}
nav ul{
    list-style-type: none;
    display: flex;
    gap: 32px;
    justify-content:space-between;
    align-items: center;
    width: 365px;
    height: 24px;

}
nav .link a{
    text-decoration: none;
    color: #000000;
    width: 365px;
    height: 24px;
    gap: auto;
    font-style: bold;
}
nav #logo img{
    width: 139px;
    height: 60px;
}
nav .button_nav button{
    color: #FFFFFF;
    font-size: 16px;
    font-style: semibold;
    border-radius: 4px;
    background-color: #30b868;
    border: none;
    width: 164px;
    height: 44px;
    align-items: center;




}
.font-intel {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}