.some-text {
    width:100%;
    height: 152px;
    
}
.bigboy {
    font-family: 'Inter';
    font-size: 48px;
    font-weight: bold;
    line-height: auto;
    color : #001931;
    text-align: center;
   
}
.littleboy {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    color : #627382;
    text-align: center;
    
}